@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    box-sizing: border-box;
    font-family: "Josefin Sans";
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
}
button{
    outline: 0;
}
input,button{
    outline: 0;
    border: 0;
}
body{
    /* position: relative; */
 }
/* header */
header .container{
    position: fixed;
    top: 74px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 3px;
}
header .active{
    inset-block-start: 0 !important;
    border-radius: 0px;
}
header .right-header,
header .mid-header,
header .left-header{
    display: flex;
    flex: 1;
    align-items: center !important;  
}
header .right-header{
    justify-content: end;
}
header .left-header{
    justify-content: start;
}
header .mid-header,
header .mid-header-mo{
    display: flex;
    justify-content: center;
    text-align: center;
}

header .mid-header a,
header .mid-header-mo a{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
header .mid-header a::before,
header .mid-header-mo a::before{
    content:"";
    position: absolute;
    background: #fff;
    z-index: -1;
    border-radius: 5px;
}
header .mid-header a::before{
    inset: -15px 0px;
}
header .mid-header-mo a::before{
    inset: -10px 0px;
}
header .mid-header a.active::before,
header .mid-header-mo a.active::before{
    inset: 0px 0px;
}
header nav .main-header .left-header ul{
    display: flex;
}
header nav .main-header .left-header ul li{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 17px 19px 13px;
}
header nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    transition: all .5s ease;
    text-transform: uppercase;
}
header nav ul li a:hover{
    color: #1350A3;
}
header nav ul li a.active{
    color: #1350A3;
    font-weight: 600;
}
header nav .right-header a{ 
    padding: 12px 15px 8px 16px;
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
}
header nav .main-header .right-header{
    align-items: start;
} 
header nav .main-header .right-header a:last-child{
    background-color: #5956E9;
    color: #ffffff;
}
header nav .mobile-header button,
header nav .mobile-header .mid-header-mo,
header nav .mobile-header .right-header{
    flex: 1;
    display: flex;
}
header nav .mobile-header button{
    justify-content: start;
    align-items: center;
}
header nav .mobile-header .right-header{
    justify-content: end;
    padding: 3px 0;
}
header nav .mobile-header .right-header a{
    background-color: #5956E9;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    padding: 12px 6px;
    border-radius: 3px;
}
header .mid-header-mo{
    justify-content: center;
}
header .mid-header-mo a{
    display: flex;
    padding: 14px 10px;
}
header .mid-header-mo a img{
    width: 100%;
    height: 100%;
}
header nav .mobile-header .menu{
    font-size: 20px;
}
header nav .sidemenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 67px 35px;
    height: 100vh;
    position: fixed;
    inset-block: 0;
    inset-inline-end: -2000px;
    background-color: #ffffff;
    transition: all .8s ease;
}
header .sidemenu.open{
    inset-inline-end: 0;
}
header nav .sidemenu ul li{
    margin-top: 15px;
    padding-bottom: 15px;
}
header nav .sidemenu .close{
    position: absolute;
    inset-block-start: 25px;
    inset-inline-end: 25px;
    border: 0;
    padding: 10px;
    border-radius: 50%;
    background-color: #5956E9;
    transition: all .8s ease;
}
header nav .menu:hover{
    color: #1350A3;
}
@media (max-width:992px) {
}
@media (max-width:767px) {
        header .mid-header a{
            padding-inline: 5px;
        }
}

/* end header */
main{
    position: relative;
    z-index: 0;
}
/* start hero */
#hero{
    position: relative;
}
#hero .img-back{
    position: absolute;
    inset: 0;
    width: 100%;
}
#hero .img-back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero .container{
    width: 100%;
    position: relative;
    z-index: 1;
    padding-block: 180px 83px;
}
#hero .container .row{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
#hero .container .row .content{
    position: relative;
}
#hero .container .row .content::before{
    content: "";
    position: absolute; 
    inset: -50px -50px -50px 50px;
    border: 15px solid #7572FF;
    background-color: transparent;
    z-index: -1;
}
#hero .container .row .right-hero{
    display: flex;
    width: 100%;
}
#hero .container .row .right-hero img{
    width: 100%;
    height: 100%;
}
#hero .container .row .content{
    background-color: #ffffff;
    padding: 40px 23px 40px 30px;
}
.app{
    display: flex;
}
.app a{
    display: flex;
    max-width: 100%;
}
.app a img{
    width: 100%;
}
#hero .container .row .content h1{
    text-transform: uppercase;
    color: #5956E9;
    font-size: 48px;
    font-weight: 700;
}
#hero .container .row .content p{
    color: #6C6C72;
    font-size: 16px;
    font-weight: 400;
    margin: 18px 0 52px;
}
#hero .container .row .content h4{
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}
@media (max-width:992px) {
    #hero .container .row .content{
        padding: 14px 7px 14px 18px;
    }
    #hero .container .row .content::before{
        inset: -33px -33px -33px 33px;
    }
    #hero .container .row .content h1{
        font-size: 31px;
    }
    #hero .container .row .content h4{
        font-size: 20px;
    }
}
@media (max-width:767px) {
    #hero .container .row .content{
        padding: 30px 12px 20px 18px;
    }
    #hero .container .row .content::before{
        inset: -20px -20px -20px 20px;
        border: 10px solid #7572FF;
    }
    #hero .container .row .content h1{
        font-size: 25px;
    }
}

.pb{
    padding-block: 120px;
}
.pb-t{
    padding-block-start: 120px;
}
.pb-b{
    padding-block-end: 120px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h2{
    font-size: 31px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.title p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C72;
    margin-bottom: 60px;
    padding-inline: 25%;
    text-align: center;
}
#about .container .row{
    justify-content: space-between;
}
#about .container .row .left-sec{
    display: flex;
    width: 100%;
}
#about .container .row .left-sec img{
    width: 100%;
}
#about .container .row .right-sec .cards .card{
    display: flex;
    flex-direction: row;
    gap: 17px;
    border: 0;
    width: 100%;
    margin-bottom: 40px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding-block: 30px 21px;
}
#about .container .row .right-sec .cards .card h3{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 12px;
}
#about .container .row .right-sec .cards .card p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C72;
    padding-inline-end: 10%;
}
@media (max-width:767px) {
    #about{
        top: 1300px;
    }
    .title h2{
        font-size: 25px;
    }
    .title p{
        padding-inline: 0;
    }
    #about .container .row .right-sec{
        margin-top: 40px;
    }
}

#features{
    position: relative;
}
#features .container{
    position: relative;
    z-index: 1;
}
#features .title h2,
#features .title p{
    color: #ffffff;
}
#features .img-back{
    position: absolute;
    inset: 0;
}
#features .img-back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#features .container .row .img-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#features .container .row .img-center img{
    width: 100%;
    height: 100%;
}
#features .container .row .cards div{
    display: flex;
    flex-direction: column;
}
#features .container .row .cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
#features .container .row .cards-end{
    align-items: end;
}
#features .container .row .cards-start{
    align-items: start;
}
#features .container .row .cards .card1{
    align-items: end;
    justify-content: start;
}
#features .container .row .cards .card1 .content-card,
#features .container .row .cards .card2 .content-card{
    display: flex;
    flex-direction: column;
    align-items: end;
}
#features .container .row .card1 .content-card h3,
#features .container .row .card1 .content-card p,
#features .container .row .card2 .content-card h3,
#features .container .row .card2 .content-card p{
    text-align: end;
}
#features .container .row .cards .card2{
    align-items: end;
    justify-content: end;
}

#features .container .row .card3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
#features .container .row .card3 .content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#features .container .row .card4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#features .container .row .card4 .content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#features .container .row .card3 .content-card h3,
#features .container .row .card3 .content-card p,
#features .container .row .card4 .content-card h3,
#features .container .row .card4 .content-card p{
    text-align: center;  
}
#features .container .row .card3 .content-card p,
#features .container .row .card4 .content-card p{
    padding-inline: 10%;
}
#features .container .row .cards .card5{
    align-items: start;
    justify-content: start;
}
#features .container .row .cards .card6{
    align-items: start;
    justify-content: end;
}
#features .container .row .card5 .content-card h3,
#features .container .row .card5 .content-card p,
#features .container .row .card6 .content-card h3,
#features .container .row .card6 .content-card p{
    text-align: start;
}
#features .container .row .card{
    background-color: transparent;
    border: 0;
}
#features .container .row .card .img-card{
    display: flex;
}
#features .container .row .card .img-card img{
    width: 100%;
}
#features .container .row .card h3{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin: 22px 0 18px;
}
#features .container .row .card p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
@media (max-width:992px) {
    #features .container .row .card h3{
    font-size: 20px;
    margin: 10px 0 9px;
}
}
@media (max-width:992px) {
    #features .container .row .title p{
        padding-inline: 0;
    }
    #features .container .row .cards{
        align-items: center;
    }
    #features .container .row .card{
    align-items: center !important;
    padding-bottom: 50px;
}
    #features .container .row .card p{
        padding-inline: 10%;
        text-align: center !important;
    }
    #features .container .row .card .img-card img{
        justify-content: center !important;
    }
    #features .container .row .card .content-card{
    align-items: center !important;
}
}
/* end features */
/* start checkout */
#checkout .title{
    padding-bottom: 0;
}
.slider-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  position: relative;
}
.slider-container i{
    transition: all .8s ease;
}
.left-arrow,
.right-arrow {
  color: #5956E9;
  border: 1px solid #5956E9;
  border-radius: 50%;
  height: 84px;
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: arrow-slide-in 2s 1s forwards ease-out;
}

.left-arrow{
  transform: translate(-100vw);
}
.right-arrow{
  transform: translate(100vw);
}

@keyframes arrow-slide-in{
  to{
    transform: translate(0px);
  }
}

.slider-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  perspective: 100px;
}
.slider-content .slide {
  position: absolute;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  background: transparent;
  border-radius: 25px;
  left: 50%;
  z-index: 0;
  opacity: 0;
  transform: translate(-50%, 0) rotateY(0deg) scale(1,1);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out,
    z-index 0s 0.25s ease-in-out, box-shadow 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.slider-content .slide img{
    width: 100%;
    height: 100%;
}
.slide.position-1 {
  left: 20% !important;
  z-index: 1 !important;
  transform: translate(-90%, 0) scale(0.8) !important;
  opacity: 1 !important;
  filter: blur(4px);
  
}
.slide.position-2 {
  left: 35% !important;
  z-index: 2 !important;
  transform: translateX(-95%) scale(0.9) !important;
  opacity: 1 !important;
  filter: blur(2px);
  
  
}
.slide.position-3 {
  left: 50% !important;
  z-index: 4 !important;
  transform: translate(-50%, 0) rotateY(0deg) scale(1, 1) !important;
  opacity: 1 !important;
  cursor: pointer;
  filter: blur(0px);
}
.slide.position-3:hover {
  transform: translate(-50%, 0) rotateY(0deg) scale(1.05, 1.05) !important;
}
.slide.position-4 {
  left: 65% !important;
  z-index: 2 !important;
  transform: translateX(-5%) scale(0.9) !important;
  opacity: 1 !important;
  filter: blur(2px);
}
.slide.position-5 {
  left: 80% !important;
  z-index: 1 !important;
  transform: translate(10%, 0) scale(0.8) !important;
  opacity: 1 !important;
  filter: blur(4px);
}
.slider-container i{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.slider-container .left-arrow:hover i, .slider-container .right-arrow:hover i{
  background: #5956E9;
  color: #fff;
}
.custom-dots {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.custom-dots span {
  width: 12px;
  height: 12px;
  background: #d3d3d3;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.custom-dots .active {
  background: #5956E9;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 992px){
  .slide.position-1 {
  transform: translate(-110%, 0) scale(0.7) !important; 
}
.slide.position-2 {
  transform: translateX(-105%) scale(0.8) !important;
}
.slide.position-4 {
  transform: translateX(20%) scale(0.95) !important;
}
.slide.position-5 {
  transform: translate(85%, 0) scale(0.9) !important;
}
}


@media screen and (max-width: 767px){
  .slide.position-3:hover {
    transform: translate(-50%, 0) rotateY(0deg) scale(1.05, 1.05) !important;
  }
  .slide.position-1, .slide.position-5{
    opacity: 0 !important;
  }
.slide.position-2 {
    transform: translateX(-95%) scale(0.58) !important;
}
.slide.position-4 {
    transform: translateX(25%) scale(0.95) !important;
}
.left-arrow,
.right-arrow {
  display: none;
}}
@media screen and (max-width: 390px){

.left-arrow,
.right-arrow {
  display: none;
}
  .slider-content{
    width: 100%;
  }
}
#download .right-row{
    display: flex;
    width: 100%;
}
#download .right-row img{
    width: 100%;
    height: 100%;
}
#download .title{
    align-items: start;
}
#download .title p{
    padding-inline: 0;
    padding-inline-end: 10%;
    text-align: start;
}
#download .links{
    display: flex;
}
#download .links a{
    flex: 1;
    padding: 15px;
}
#download .links .link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background-color: #5851EA;
    padding: 30px 11px 20px 10px;
}
#download .links .link .icon-link{
    display: flex;
}
#download .links .link .icon-link img{
    width: 100%;
    height: 100%;
}
#download .links .link .content-link .content-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#download .links .link .content-link p,
#download .links .link .content-link span{
    display: block;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}
#download .links .link .content-link p{
    font-size: 20px;
}
#download .links .link .content-link span{
    font-size: 25px;
}
@media (max-width:1200px) {
    #download .links .link{
        padding: 11px 3px 12px 3px;
    }
    #download .links .link .content-link p{
    font-size: 16px;
}
#download .links .link .content-link span{
    font-size: 20px;
}
}
@media (max-width:992px) {
    #download .row{
        gap: 60px;
    }
}

#use{
    padding: 48px 0 0 0;
    position: relative;
}
#use:before{
    content: "";
    background-image: url(../media/Background\ Image\ \(1\).svg);
    position: absolute;
    inset: 0;
    bottom: 200px;
    z-index: -1;
}
#use .title h2,
#use .title p{
    color: #ffffff;
    text-align: center;
}
#use .video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#use .video-back video {
    position: absolute;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}
#use .img-video{

}
#use .img-video::after{
    content: url("../media/Vodeo\ Icon.svg");
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#use .img-video{
    position: relative;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
    pointer-events: auto;
}
#use .img-video img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    
}
#use .img-video img.active {
    opacity: 0;
    pointer-events: none;
}
@media (max-width:767px) {
    #use:before{
        bottom: 80px;
    }
}
#customers{
    position: relative;
}
#customers .container{
    position: relative;
    z-index: 1;
}
#customers .img-back{
    position: absolute;
    inset: 0;
}
#customers .img-back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#customers .title h2,
#customers .title p{
    color: #ffffff;
}
#customers .parent{
    position: relative;
    z-index: 1;
    padding-block-end: 280px;
    --w: 21.875rem;
}
#customers .carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  user-select: none;
  padding-inline-end: 0;
  padding-inline: 180px;
}

#customers .carousel div {
  transform-style: preserve-3d;
}

#customers .item {
  display: block;
  position: absolute;
  line-height: var(--h);
  font-size: 2em;
  text-align: center;
  border-radius: 0.625rem;
  transition: transform 1s, opacity 0.5s;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.35);
}

#customers .slide1 {
  transform: rotateY(0deg) translateZ(15.625rem);
}
#customers .slide2 {
  transform: rotateY(60deg) translateZ(15.625rem) rotateY(-60deg);
}
#customers .item{
    display: flex;
    flex-direction: column;
    padding: 40px 61px 36px;
    background-color: #ffffff;
}
#customers .item .content-item h3{
    font-size: 31px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
#customers .item .content-item span{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    padding-block: 1px 8px;
}
#customers .item .content-item p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C72;
}
#customers .item .content-item .img-item{
    display: flex;
}
#customers .item .content-item .img-item img{
    width: 100%;
    height: 100%;
}
#customers .slide3 {
  transform: rotateY(120deg) translateZ(15.625rem) rotateY(-120deg);
}
#customers .slide4 {
  transform: rotateY(180deg) translateZ(15.625rem) rotateY(-180deg);
}
#customers .slide5 {
  transform: rotateY(240deg) translateZ(15.625rem) rotateY(-240deg);
}
#customers .slide6 {
  transform: rotateY(300deg) translateZ(15.625rem) rotateY(-300deg);
}
.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 50%;
    transition: .3s;
}
.dot.active::after{
    content: "";
    border: 1px solid #ddd;
    padding: 6px;
    background-color: transparent;
    border-radius: 50%;
}
.dot.active {
    border-radius: 50%;
    background: #ddd;
}
.dots {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width:1200px) {
    #customers .item{
        padding: 40px 38px 36px;
    }
    #customers .item .content-item h3{
    font-size: 25px;
}
#customers .item .content-item span{
    font-size: 16px;
    padding-block: 1px 18px;
}
}
@media (max-width:992px) {
    #customers .parent{
    padding-block-end: 380px;
}
    #customers .item{
        padding: 40px 18px 36px;
    }}
@media (max-width:767px) {
    #customers .container{
        overflow: hidden;
    }
    #customers .carousel{
        padding-inline: 50px;
    }
}

#team{
    margin-top: 120px;
}
#team .card{
    padding: 29px 44px 53px;
    border: 0;
    box-shadow: 1px 1px 1px 4px rgb(0, 0, 0, .05);
}
#team .card .back-img{
    border-radius: 50%;
    padding: 26px;
    position: relative;
}

#team .card .back-img:before{
    content:"";
    /* background: red; */
    inset: 0;
    position: absolute;
    border-radius: 50%;
    border: 5px solid blue;
    z-index: 0;
}
#team .card .img-card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#team .card .img-card:before{
    content:"";
    position: absolute;
    background: #fff;
    width: 20px;
    top: -26px;
    bottom: -26px;
    z-index: 0;
}

#team .card .img-card:after{
    content:"";
    content: "";
    position: absolute;
    background: #fff;
    height: 20px;
    left: -26px;
    right: -26px;
    z-index: 0;
}
#team .card .img-card img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
#team .card .content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
}
#team .card .content-card h3{
    font-size: 31px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
#team .card .content-card span{
    font-size: 20px;
    font-weight: 600;
    color: #6C6C72;
    text-transform: uppercase;
}
#team .card .content-card p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C72;
    text-align: center;
    padding: 14px 0 40px;
}
#team .card .content-card .links{
    display: flex;
    width: 100%;
}
#team .card .content-card .links .link{
    flex: 1;
    display: flex; 
    transition: all 1.8s ease;
}
#team .card .content-card .links .link .pre{
    display: flex;
}
#team .card .content-card .links .link img{
    width: 100%;
    height: 100%;
}
#team .card .content-card .links .link:hover .pre{
    display: none; 
}
#team .card .content-card .links .link:hover .post{
    display: flex;
}
#team .card .content-card .links .link::after{
    content: "";
    display: flex;
    width: 1px;
    height: 100%;
    background-color: #000;
    margin: 1px 31px;
}
#team .card .content-card .links .post{
    display: none;
}

@media (min-width: 993px) and (max-width: 1200px) {
    #team .card .content-card .links .link::after{
    margin: 1px 14px;
}
    #team .card .content-card h3{
    font-size: 20px;
}
    #team .card .content-card span{
    font-size: 16px;
}
}
@media (max-width:992px) {
    #team .card{
        margin-bottom: 30px;
    }
    #team .card .content-card .links .link::after{
    margin: 1px 31px;
}
    #team .card .content-card h3{
    font-size: 31px;
}
    #team .card .content-card span{
    font-size: 20px;
}
}
#blog .card {
    border: 0;
    box-shadow: 1px 1px 1px 4px rgb(0, 0, 0, .05);
    width: 100%;
}
#blog .card .top-card{
    display: flex;
    width: 100%;
}
#blog .card .top-card img{
    width: 100%;
    height: 100%;
}
#blog .card .body-card{
    display: flex;
    flex-direction: column;
    padding: 40px 18px 36px;
}
#blog .card .body-card h3{
    font-size: 20px;
    font-weight: 600px;
    color: #000000;
    text-transform: uppercase;
}
#blog .card .body-card p{
    font-size: 16px;
    font-weight: 400px;
    color: #6C6C72;
    padding: 10px 0 28px;
}
#blog .card .body-card span{
    font-size: 20px;
    font-weight: 600px;
    color: #5851EA;
    text-transform: uppercase;
    text-decoration: underline;
}
.footer-blog{
    position: relative;
    inset-block-start: 120px;
    box-shadow: 1px 1px 1px 4px rgb(0, 0, 0, .05);
    border-radius: 30px;
    background-color: #ffffff;
}
.footer-blog .communication{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 18px;
    padding: 65px 50px;
}
.footer-blog .phone::before{
    content: "";
    display: flex;
    width: 2px;
    height: 100%;
    background-color: #6C6C72;
}
.footer-blog .communication .left-div{
    display: flex;
    padding: 30px;
    background-color: #5956E9;
    border-radius: 50%;
}
.footer-blog .communication .left-div img{
    width: 100%;
    height: 100%;
}
.footer-blog .communication .right-div p{
    font-size: 25px;
    font-weight: 600;
    color: #000000;
}
@media (min-width:993) and (max-width:1200px) {
.footer-blog{
    padding: 23px 103px 23px 30px;
}
.footer-blog .right-div p{
    font-size: 16px;
    font-weight: 400;
}
}
@media (max-width:992px) {
    .footer-blog{
        padding: 0 33px;
    }
    .footer-blog .communication{
        padding-block: 30px;
    }
    .footer-blog .phone::before{
    width: 117px;
    height: 5px;
}
.footer-blog .communication{
    flex-direction: column;
    align-items: center;
}
}
/* start footer */
footer{
    background-color: #232233;
    padding: 235px 0 127px 0 ;
    border-top: 1px solid #D9D9D9;
}
footer .container .row .left-footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
footer .container .row .left-footer a{
    display: flex;
}
footer .container .row .left-footer a img{
    width: 100%;
    height: 100%;
}
footer .container .row .left-footer .links{
    display: flex;
}
footer .container .row .left-footer .links .link{
    display: flex;
}
footer .container .row .left-footer .links .link:not(:last-child)::after{
    content: "";
    height: 100%;
    width: 1px;
    margin-inline: 30px;
    background-color: #ffffff;
}
footer .container .row .left-footer .links .link a img{
    width: 100%;
    height: 100%;
}
footer .container .row .left-footer .links .link a.pre{
    display: flex;
}
footer .container .row .left-footer .links .link a.post{
    display: none;
}
footer .container .row .left-footer .links .link:hover a.pre{
    display: none;
}
footer .container .row .left-footer .links .link:hover a.post{
     display: flex
}
footer .container .row p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-block: 1px 38px;
    padding-inline-end: 25%;
}
footer .container .row h3{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 11px;
    text-transform: uppercase;
}
footer .container .row li a{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 12px;
}
footer .container .row .right-footer form div input{
    padding: 13px 16px;
    border-radius: 4px;
    width: 100%;
}
footer .container .row .right-footer form div button{
    position: absolute;
    inset-inline-end: 2px;
    inset-block: 2px;
    padding: 11px 14px;
    border-radius: 4px;
}
footer .container .row .right-footer form div{
    position: relative;
}
footer .container .row .right-footer button{
    background-color: #5956E9;
}

@media (max-width:992px) {
    footer .container .row{
        gap: 60px;
    }
    footer .container .row .left-footer{
        margin-bottom: 15px;
    }
    footer .container .row .right-footer ul li form input{
    padding: 3px 15px 3px 0;
    border-bottom: 1px solid #000000;
}
footer .container .row .right-footer ul li{
    margin-bottom: 20px;
}
}

/* shop page */
/* hero sec */
#hero-sub{
    position: relative;
}
#hero-sub .img-hero{
    position: absolute;
    inset: 0;
}
#hero-sub .img-hero img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#hero-sub .bottom-hero-shop{
    background-color: #F9F1E7;
}
#hero-sub .container{
    position: relative;
    z-index: 100000;
    padding-block: 235px 75px;
}
#hero-sub .content-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero-sub .content-hero h2{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-inline: 20%;
    padding-block-end: 18px;
}
#hero-sub .content-hero .link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
}
#hero-sub .content-hero .link::before{
    content: url("../media/home-2-fill.svg");
    display: flex;
    align-items: center;
    padding-right: 3px;
}
#hero-sub .content-hero a{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
#hero-sub .content-hero a:not(:first-child)::before{
    content: "/";
    padding: 0 6px;
    color: #ffffff;
}
@media (max-width:992px) {
#hero-sub .content-hero h2{
    font-size: 35;
    padding-inline: 0;
}
}
/* end hero-shop */

#blog-parent{
    padding: 106px 0 58px;
}
#blog-parent .row .cards{
    border-bottom: 1px solid #6C6C72;
    margin-bottom: 40px;
}
#blog-parent .card{
    border: 0;
    margin-bottom: 54px;
}
#blog-parent .card .img-card{
    display: flex;
    width: 100%;
}
#blog-parent .card .img-card img{
    width: 100%;
    height: 100%;
}
#blog-parent .card .card-body h5{
    font-size: 39px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    margin-block: 50px 18px;
}
#blog-parent .card .card-body p{
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    margin-bottom: 40px;
}
#blog-parent .card .card-body a span{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    color: #5956E9;
}
#blog-parent .footer-section-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#blog-parent .footer-section-blog a{
    font-size: 24px;
    font-weight: 600;
    color: #6C6C72;
}
#blog-parent .footer-section-blog a.active{
    color: #5956E9;
}
#blog-parent .right-row{
    padding: 0 41px;
}
#blog-parent .right-row form div{
    display: flex;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
}
#blog-parent .right-row form::after{
    content: "";
    display: flex;
    width: 100%;
    height: 1px;
    margin-top: 40px;
    background-color: #6C6C72;
}
#blog-parent .right-row form div::before{
    content: url("../media/search-line.svg");
    padding: 18px;
}
#blog-parent .right-row form div input{
    width: 100%;
}
#blog-parent .right-row div h3{
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    padding-block: 40px  13px;
}
#blog-parent .right-row .posts .card .img-card{
    display: flex;
}
#blog-parent .right-row .posts .card .img-card img{
    width: 100%;
    height: 100%;
}
#blog-parent .right-row .posts .card .card-body h4{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
#blog-parent .right-row .category{
    border-block: 1px solid #6C6C72;
    padding-block-end: 40px;
}
#blog-parent .right-row .category h3{
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 13px;
}
#blog-parent .right-row .category .accordion-item{
    border: 0;
}
#blog-parent .right-row .category .accordion-item .accordion-button::after {
    display: none !important;
}
#blog-parent .right-row .category .accordion-item .accordion-button::before{
    content: url("../media/Vector\ 1.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: 18px;
}
#blog-parent .right-row .category .accordion-item .accordion-button:not(.collapsed)::before{
    transform: rotate(90deg); 
}
#blog-parent .right-row .category .accordion-item .accordion-header button{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #6C6C72;
}
#blog-parent .right-row .tags h3{
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 13px;
}
#blog-parent .right-row .tags .links{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#blog-parent .right-row .tags .links a span{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
}
@media (max-width:440px) {
    #blog-parent .card .card-body h5{
        font-size: 28px;
    }
    #blog-parent .card .card-body .wood-history{
        /* gap: 10px; */
    }
    #blog-parent .card .card-body .wood-history span{
        font-size: 12px;
    }
    #blog-parent .right-row .posts{
    padding: 43px 0;
}
    #blog-parent .right-row .posts .card .card-body h4{
        font-size: 13px;
    }
    #blog-parent .right-row .posts .card .card-body p{
    font-size: 12px;
    }
}

/* blog details */
#blog-details .left-row .card{
    border: 0;
}
#blog-details .left-row .card .card-details{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-block: 60px 53px;
}
#blog-details .left-row .card .card-details span{
    font-size: 20px;
    font-weight: 600;
    color: #6C6C72;
    display: flex;
    align-items: center;
}
#blog-details .left-row .card .card-details span.history::before{
    content: url("../media/timer.svg");
    padding-inline-end: 18px;
}
#blog-details .left-row .card .card-details span.admin::before{
    content: url("../media/person.svg");
    padding-inline-end: 18px;
}
#blog-details .left-row .card .card-details span.comment::before{
    content: url("../media/message-circle.svg");
    padding-inline-end: 18px;
}
#blog-details .left-row .card .card-text{
    padding-bottom: 40px;
}
#blog-details .left-row .card .card-text p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C72;
    padding-bottom: 20px;
}
@media (max-width:767px) {
    #blog-details .left-row .card .card-details{
        flex-wrap: wrap;
    }
}
#blog-details .right-row{
    padding: 0 41px;
}
#blog-details .right-row form div{
    display: flex;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
}
#blog-details .right-row form::after{
    content: "";
    display: flex;
    width: 100%;
    height: 1px;
    margin-top: 40px;
    background-color: #6C6C72;
}
#blog-details .right-row form div::before{
    content: url("../media/search-line.svg");
    padding: 18px;
}
#blog-details .right-row form div input{
    width: 100%;
}
#blog-details .right-row div h3{
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    padding-block: 40px  13px;
}
#blog-details .right-row .posts .card{
    border: 0;
    padding-bottom: 40px;
}
#blog-details .right-row .posts .card .img-card{
    display: flex;
}
#blog-details .right-row .posts .card .img-card img{
    width: 100%;
    height: 100%;
}
#blog-details .right-row .posts .card .card-body h4{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
#blog-details .right-row .category{
    border-block: 1px solid #6C6C72;
    padding-block-end: 40px;
}
#blog-details .right-row .category h3{
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 13px;
}
#blog-details .right-row .category .accordion-item{
    border: 0;
}
#blog-details .right-row .category .accordion-item .accordion-button::after {
    display: none !important;
}
#blog-details .right-row .category .accordion-item .accordion-button::before{
    content: url("../media/Vector\ 1.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: 18px;
}
#blog-details .right-row .category .accordion-item .accordion-button:not(.collapsed)::before{
    transform: rotate(90deg); 
}
#blog-details .right-row .category .accordion-item .accordion-header button{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #6C6C72;
}
#blog-details .right-row .tags h3{
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 13px;
}
#blog-details .right-row .tags .links{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#blog-details .right-row .tags .links a span{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
}
#blog-details .video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog-details .video-back video {
    position: absolute;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

#blog-details .img-video img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
    pointer-events: auto;
}

#blog-details .img-video img.active {
    opacity: 0;
    pointer-events: none;
}
#blog-details .p-video{
    background-color: #5956E9;
    padding: 40px 22px;
    margin-block: 60px;
    border-radius: 10px;
}
#blog-details .p-video p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
#blog-details .left-row .row .card .img-card{
    display: flex;
}
#blog-details .left-row .row .card .img-card img{
    width: 100%;
    height: 100%;
}
#blog-details .left-row .row .card .card-text{
    padding: 42px 0 11px 22px;
}
#blog-details .charctar{
    display: flex;
    gap: 18px;
    padding: 18px 28px 35px 18px;
    box-shadow: 1px 1px 1px 4px rgb(0, 0, 0, .05);
    margin-block: 120px;
}
#blog-details .charctar h3{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}
#blog-details .charctar span{
    font-size: 16px;
    font-weight: 400;
    color: #5956E9;
    padding-block: 7px 9px;
}
#blog-details .charctar .links{
    display: flex;
    padding-top: 18px;
    gap: 12px;
}
#blog-details .charctar .links .link{
    display: flex;
}
#blog-details .charctar .links .link a{
    display: flex;
}
#blog-details .charctar .links .link a img{
    width: 100%;
    height: 100%;
}
#blog-details .charctar .links .link a.post{
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}
#blog-details .charctar .links .link:hover a.pre{
    visibility: hidden;
    opacity: 0;
}
#blog-details .charctar .links .link:hover a.post{
    visibility: visible;
    opacity: 1;
}
#blog-details .sort .links{
    display: flex;
    padding-bottom: 8px;
}
#blog-details .sort .div-header::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #6C6C72;
}
#blog-details .sort .links a{
    flex: 1;
    display: flex;
    align-items: center;
}
#blog-details .sort .links a.comment{
    justify-content: start;
}
#blog-details .sort .links a.disqus{
    justify-content: center;
}
#blog-details .sort .links a.gwen{
    justify-content: end;
}
#blog-details .sort .links a.gwen span{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-image: url(../media/Vector\ \(7\).svg);
    background-repeat: no-repeat;
    padding-inline: 9px;
    margin-inline-end: 20px;
}
#blog-details .sort .links a{
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}
#blog-details .sort .accordion .accordion-item{
    border: 0;
}
#blog-details .sort .accordion-button{
    display: flex;
}
#blog-details .sort .accordion-button span{
    flex: 1;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: #6C6C72;
    text-transform: uppercase;
}
#blog-details .sort .accordion-button span.left-button{
    justify-content: start;
}
#blog-details .sort .accordion-button span.left-button::before{
    content: url("../media/Frame.svg");
    padding-inline-end: 10px;
}
#blog-details .sort .accordion-button span.right-button{
    justify-content: end;
}
#blog-details .sort .accordion-item .accordion-button::after {
    display: none !important;
}
#blog-details .sort .accordion-item .accordion-button .right-button::after{
    content: url("../media/Vector\ 1.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 18px;
}
#blog-details .sort .accordion-item .accordion-button:not(.collapsed) .right-button::after{
    transform: rotate(90deg);
}
#blog-details .sort .accordion-item .accordion-body form input{
    border: 1px solid #6C6C72;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    margin-block: 35px 40px;
}
#blog-details .sort .accordion-item .accordion-body .card{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
}
#blog-details .sort .accordion-item .accordion-body .card .img-card{
    display: flex;
}
#blog-details .sort .accordion-item .accordion-body .card .img-card img{
    width: 100%;
    height: 100%;
}
#blog-details .sort .accordion-item .accordion-body .card .info h3{
    font-size: 25px;
    font-weight: 600;
    color: #5956E9;
    padding-bottom: 10px;
}
#blog-details .sort .accordion-item .accordion-body .card .info p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C72;
    padding-bottom: 26px;
}
#blog-details .sort .accordion-item .accordion-body .card .inner-card{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 12px;
}
#blog-details .sort .accordion-item .accordion-body .card .inner-card .img-card{
    display: flex;
}
#blog-details .sort .accordion-item .accordion-body .card .inner-card .img-card img{
    width: 100%;
    height: 100%;
}
#blog-details .sort .accordion-item .accordion-body .card .inner-card .info h3{
    font-size: 20px;
    font-weight: 600;
}